<hr />

<h3><%= @idea.likes.count %> likes</h3>
<table class="table table-striped table-hover">
  <tr>
    <th>like comment</th>
    <th>liked user</th>
  </tr>

<% @idea.likes.each do |like| %>
  <tr>
    <td><%= like.comment %></td>
    <td><%= like.user.try(:email) %></td>
  </tr>
<% end %>
</table>

<% if user_signed_in? %>

<%= form_tag(liked_idea_path(@idea), :class => 'form-horizontal well') do %>
  <div class="field">
    <%= text_field_tag :comment %>
    <%= submit_tag 'like!' %>
  </div>
<% end %>

<% end %>
