<h1>Listing ideas</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Author</th>
    <th>likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= image_tag idea.picture_url, {size: '120x120'} if idea.picture.present? %></td>
    <td><%= idea.user.try(:email) %></td>
    <td><%= idea.likes.count %></td>
    <td><%= link_to 'Show', idea, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea), class: 'btn' %></td>
    <td><%= link_to 'Destroy', idea, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path, class: 'btn btn-info btn-large' %>
