<h1>Listing ideas</h1>

<%= link_to 'Print', action: :print_top5 %>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th>likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each_with_index do |idea, index| %>
  <tr>
    <td><%= idea.rank %></td>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= idea.picture %></td>
    <td><%= idea.likes.count %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_idea_path %>
